#main-title {
  background-color: green;
  height: 4vw;
  color: white;
}

.h-32 {
  height: 32vw;
}

.mb-6p {
  margin-bottom: 6px;
}

.mt-0 {
  margin-top: 0;
}

img {
  height: 15vw;
}

.arrow {
  margin-top: -2vw;
  margin-right: -1vw;
  margin-bottom: -1.7vw;
}

#author {
  margin-top: -0.5vw;
}

#SearchBar {
  width: 40vw;
}

.search-btn {
  height: 3vw;
}
